// breadcrumb start
ul.breadcrumb
    li.breadcrumb__el
        a(href='/') Главная
    li.breadcrumb__el
        a(href='/news.html') Новости
    // repeat
    li.breadcrumb__el
        span Новость
// breadcrumb end